<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- STYLE SHEET -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/media-link-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <!-- ICON LIBRARY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>

<body>
<!-- NAVBAR -->
    <nav>
        <div class="container">
            <ul class="row align-items-start">
                <li class="col" id="current">Home</li>
                <li class="col"><a href="sets">Sets</a></li>
                <li class="col"><a href="search">Search</a></li>
                <li class="col"><a href="decks">Decks</a></li>
                <li class="col"><a href="sign-in">Sign In/Out</a></li>
            </ul>
        </div>
    </nav>

    <!-- MAIN CONTAINER. -->
    <div class="main-container">
        <div class="information" id="duskmourn">

            <div class="website">

            </div>
            <div class="set-information">
                <h1>Release date: 09-27-2024</h1>
                <h2>Set Size: 276</h2>
            </div>
            <div class="card-list">
                <h1>For complete card list.</h1>
                <h1><a href="">Click here.</a></h1>
            </div>
        </div>


    </div>

    <!-- FOOTER -->
    <footer class="text-center " style="background-color: #A9A9A9; color: white;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <!-- Facebook -->
                <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>

                <!-- Twitter -->
                <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>

                <!-- Google -->
                <a href="https://www.google.com/" target="_blank" class="fa fa-google"></a>

                <!-- Instagram -->
                <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>

                <!-- Linkedin -->
                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Gaming: </h6>
                        <p>
                            CARD COLLECTION DATABASE FOR MAGIC THE GATHERNING
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4"> ? </h6>
                        <p><i class="fas fa-home me-3"></i> New Jersey, NJ 08861, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">JOHAN PENA</a>
        </div>

    </footer>
</body>
</html>